<%- include('../includes/head', {pageTitle: 'Chats'}) %>
<script src="/public/scripts/webSocketScripts/chatWebSocketScript.js" defer></script>
<script src="/public/scripts/chatScripts/fetchChats.js" defer></script>
<link rel="stylesheet" href="/public/styles/inboxStyle.css">
</head>

<body>
<!--Include the header-->
<%- include('../includes/header') %>
<main>
    <h1>
        Your messages
    </h1>
    <button id="send-test-message">Send something to the server</button>
    <!-- Check if the user is logged in (double security)-->
    <% if (locals.loggedIn) { %>
        <button id="web-socket-connection-userId" value="<%= locals.userId %>" style="visibility: hidden"></button>

    <% } %>

    <a href="/chat/startNewChat/<%= locals.userId %>">Start a new Chat!</a>
    <div id="chats-container">
        <div id="chats-overview">
            <ul id="active-chats"></ul>
        </div>
        <div id="main-chat">
            <div id="messageTo" style="visibility: hidden"></div>
            <div id="chatId" style="visibility: hidden"></div>
            <div id="messageFrom" style="visibility: hidden"></div>
            <div id="conversation"></div>
            <div id="message-input">
                <form id="chat-form">
                    <label for="message">Your message:</label>
                    <input type="text" name="message" id="message" autocomplete="off">
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</main>
<%- include('../includes/footer') %>