<%- include('../includes/head', {pageTitle: 'User' }) %>
<script src="/public/scripts/like-request.js" defer></script>
<script src="/public/scripts/post-comment.js" defer></script>
<script src="/public/scripts/profileScripts/followScript.js" defer></script>
<script src="/public/scripts/profileScripts/unfollowScript.js" defer></script>
<script src="/public/scripts/profileScripts/displayAndCloseFollowers.js" defer></script>
<script src="/public/scripts/profileScripts/displayAndCloseFollowing.js" defer></script>
</head>

<body>
<!--Include the header-->
<%- include('../includes/header') %>
<main>
    <h1>
        <%= requesteeUsername %>
    </h1>
    <button id="csrf" value="<%= locals.csrfToken %>" style="visibility: hidden"></button>
    <img src="<%= imagePath %>" alt="Profile Picture of the user" style="border-radius: 18px;
            width: 100px">
    <div>
        <h3>Bio of <%= requesteeUsername %></h3>
        <p><%= userBio %></p>
    </div>
    <div>
        <% if (!following && !ownProfile) { %>
            <button id="follow-user" value="<%= requesteeUserId %>">Follow User</button>

        <% } else if (following && !ownProfile) { %>
            <!-- You are following the user but it is not your own profile-->
            <button id="unfollow-user" value="<%= requesteeUsername %>">Unfollow user</button>
            <% } %>
        <% if (following || ownProfile || publicProfile ) { %>
                    <% if (ownProfile) { %>
                        <a href="/user/edit/<%= requesteeUsername %>">Edit Profile</a>
                    <% } %>
            <button id="display-followers" value="<%= requesteeUsername %>">Followers</button>
                        <button id="close-followers" value="<%= requesteeUsername %>"
                        style="visibility: hidden">Close Followers</button>
                        <div id="followers-div" style="visibility: hidden">
                            <ul id="followers-list"></ul>
                        </div>
            <button id="display-following" value="<%= requesteeUsername %>">Following</button>
            <button id="close-following" value="<%= requesteeUsername %>"
            style="visibility: hidden">Close Following</button>
                        <!-- Display the following list of user -->
            <div id="following-div" style="visibility: hidden">
                <ul id="following-list"></ul>
            </div>
            <!-- Display the posts -->
            <!-- Check if the user can be followed -->
            <h3>Posts of <%= requesteeUsername %></h3>
            <ul>
                <% for (const post of posts) { %>
                    <li>
                        <%- include('../includes/post', {post: post} ) %>
                    </li>
                <% } %>
            </ul>
        <% } %>
    </div>
</main>
<%- include('../includes/footer') %>