<%- include('../includes/head', {pageTitle: 'User' }) %>
<script src="/public/scripts/like-request.js" defer></script>
<script src="/public/scripts/post-comment.js" defer></script>
<script src="/public/scripts/profileScripts/followScript.js" defer></script>
</head>

<body>
<!--Include the header-->
<%- include('../includes/header') %>
<main>
    <h1>
        <%= requesteeUsername %>
    </h1>
    <button id="csrf" value="<%= locals.csrfToken %>" style="visibility: hidden"></button>
    <div>
        <% if (!following && !ownProfile) { %>
            <button id="follow-user" value="<%= requesteeUserId %>">Follow User</button>

        <% } else if (following && !ownProfile) { %>
            <!-- You are following the user but it is not your own profile-->
            <button id="unfollow-user" value="<%= requesteeUserId %>">Unfollow user</button>
            <% } %>
        <% if (following || ownProfile) { %>
            <!-- Display the posts -->
            <!-- Check if the user can be followed -->

            <ul>
                <% for (const post of posts) { %>
                    <li>
                        <%- include('../includes/post', {post: post} ) %>
                    </li>
                <% } %>
            </ul>
        <% } %>
    </div>
</main>
<%- include('../includes/footer') %>