<div class="post">
    <a href="/<%= post.username%>"></a>
    <img src="/static/images/<%= post.imagePath %>" alt="Post image" style="width: 100px">
    <p id="caption"><%= post.caption %></p>
    <div>
        <span id="like-count-<%= post._id %>">
            <%= post.likeCount %>
        </span>
        <button class="likedBy" value="<%= post._id %>" id="see-like-<%= post._id %>">Likes</button>
        <button class="close-likes" id="close-like-<%= post._id %>" value="<%= post._id %>"
        style="visibility: hidden">Close Likes</button>
        <div id="likes-<%= post._id %>" style="visibility: hidden">
            <ul id="likes-list-<%= post._id %>">

            </ul>
        </div>
        <button class="button-like" value="<%= post._id %>"><%= post.likeValue %></button>
    </div>

    <div>
        <span id="comment-count-<%= post._id %>">
            <%= post.commentCount %>
        </span>
        <button class="see-comments" value="<%= post._id %>" id="see-comment-<%= post._id %>">Comments</button>
        <button class="close-comments" value="<%= post._id %>" id="close-comment-<%= post._id %>"
         style="visibility: hidden" >Close comments</button>
        <div id="comments-<%= post._id %>" style="visibility: hidden">
            <ul id="list-<%= post._id %>">
            </ul>
        </div>
        <button class="leave-comment" value="<%= post._id %>">Leave a Comment</button>
        <!-- Section that has elements to create a comment -->
        <div id="create-comment-<%= post._id %>" style="visibility: hidden">
            <h1>
                Leave a comment:
            </h1>
            <form id="form-<%= post._id %>" > <!-- Form is sent to currentUrl/signup via a POST method-->
                <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                <div>
                    <label for="comment-<%= post._id %>">Comment</label>
                    <input type="text" id="comment-<%= post._id %>" name="comment" required>
                </div>


                <button class="post-comment" value="<%= post._id %>">Post Comment</button>
                <p id="switch-form">
                    <a href="/">Return home</a>
                </p>
            </form>
        </div>
    </div>
</div>