<%- include('./includes/head', {pageTitle: 'instagram'}) %>
</head>

<body>
<!--Include the header-->
<%- include('./includes/header') %>
<main>
    <% if (locals.loggedIn) { %>
        <h2>Welcome <%= locals.username %></h2>
        <a href="/user/<%= locals.username %>">Profile</a>
    <% } else { %>
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        <% }%>

        <a href="/createPost">Create post</a>

    <ul>
        <% for (const post of posts) { %>
            <li>
                <%- include('./includes/post', {post: post}) %>
            </li>
        <% } %>
    </ul>
</main>
<%- include('./includes/footer') %>