<%- include('./includes/head', {pageTitle: 'instagram'}) %>
</head>

<body>
<!--Include the header-->
<%- include('./includes/header') %>
<main>
    <% if (locals.isAuth) { %>
        <h2>Welcome <%= locals.userName %></h2>
    <% }%>

        <a href="/createPost">Create post</a>

    <ul>
        <% for (const post of posts) { %>
            <li>
                <%- include('./includes/post', {post: post}) %>
            </li>
        <% } %>
    </ul>
</main>
<%- include('./includes/footer') %>