<%- include('./includes/head', {pageTitle: 'instagram'}) %>
<script src="/public/scripts/searchScripts/searchUserSimple.js" defer></script>
<script src="/public/scripts/notificationsScripts/showNotificationsIndexHTML.js" defer></script>
</head>

<body>
<!--Include the header-->
<%- include('./includes/header') %>
<main>
    <% if (locals.loggedIn) { %>
        <h2>Welcome <%= locals.username %></h2>
        <a href="/user/<%= locals.username %>">Profile</a>
    <% } else { %>
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        <% }%>

        <a href="/createPost">Create post</a>

        <form id="search-form" enctype="application/x-www-form-urlencoded">
            <label for="user-input">Search for a user:</label>
            <input type="text" id="user-input" name="username">
            <button type="submit"> Search </button>
        </form>

        <div id="search-result"></div>

        <% if (locals.loggedIn) {%>
        <!-- IF the user is logged In, show the notifications option -->
            <% if (amountNotifications > 0) { %>
                <button id="show-notifications-button" value="<%= locals.userId %>">Show <%= amountNotifications %> Notifications</button>
            <% } %>
            <div id="notifications-div" style="visibility: hidden">
                <ul id="requestToFollow-list"></ul>
                <ul id="likes-list"></ul>
                <ul id="comments-list"></ul>
            </div>
        <% } %>

    <ul>
        <% for (const post of posts) { %>
            <li>
                <%- include('./includes/post', {post: post}) %>
            </li>
        <% } %>
    </ul>
</main>
<%- include('./includes/footer') %>